*{
	box-sizing: border-box;
    margin: 0px;
}

/*bg*/

.parallax {
    background-image: url("../img/cloudy-overcast-sky.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.proPd{
    padding: 150px;
}

.blanco{
	height:500px
	background-color:#000;
    padding: 70px;
}

.skill{
    padding: 100px;
}

.mg-0{
    margin: 0;
}

.pd-0{
    padding: 0;
}

/*menu*/

.menu{
    position: fixed;
    z-index: 1;
}

.iconTitle{
    color: #cc0000;
    display:inline-block;
    text-align: center;
}

.menuIcon{
    height: 100px;
    margin-top: 28px;
    display: block; 
}

.iconName{
    opacity:0;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 20px;
}

.iconTitle:hover .iconName{
    opacity: 1;
    transition:1.5s;
}

.iconTitle:hover{
    text-decoration: none;
    color: #cc0000 ;
}

/*presentacion*/

.ubicacion{
    text-align: center;
    padding-top: 30px;
}

.presentacion{
    font-family: 'Architects Daughter', cursive;
}

.hola{
    font-size: 2em; 
}

.nombre{
    font-size: 4em;
    color: #cc0000;
}

.soy{
    font-size: 2em;
}

.frase{
    font-size: 1em;
}

/*sobre mi*/

.miFoto{
    width: 80%;     
}

.miFoto:hover{
    border:5px solid #cc0000;
}

.sobreMi{
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5em;
}

.red{
    color: #cc0000;
}

.enfasis{
    font-weight: bold;
}

/*menu xs*/

.menuSm{
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: rgba(255,255,255,0.8);
}

.iconNameSm{
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 10px;
}

.menuIconSm {
    height: 30px;
    margin-right: 10px;
    display: block;
}

.iconTitleSm{
    color: #cc0000;
    display:inline-block;
}

/*imagenes proyectos*/

.imgProyecto{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.proyectoH{
    height: 100%;
}

.ih-item.square.effect4 {
  overflow: hidden;
  position: relative;
}

.imgPd{
    padding: 10px;
}

.fullH{
    height: 100%;
}

/*habilidades*/

.boxUno{
    height: 100px;
    background-color:#cc0000;
    border-right:4px solid #fff;
    border-bottom:4px solid #fff; 
    color: #fff;
    padding-top: 10px; 
}

.box{
    height: 150px;
    border-right:4px solid #fff;
    border-bottom:4px solid #fff;
    background-color: #D3D3D3;
}

.skills{
    width: 6%;
}

.mate{
    width: 10%;
}

.marg{
    padding-top: 38px;
} 

.intermd{
    width: 35%;
}

.lang{
    width: 36%;
}

.sass{
    margin-left: 12px;
}

.tituloHabilidades{
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.niveles{
    padding-top: 50px;   
}

div div {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 20px;
}

hr{
    z-index: 1;
}

/*contacto*/

.contacto{
    font-size: 2.5em;
    color:#000;
}

.iconosContacto{
    margin-top: 40px;
}

.email{
    color:#cc0000;
    font-weight: bold;
}

/*proyectosXs*/

.proyectosXs{
    padding: 15px;
}

.boxx{
    width: 290px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    margin-right: 0;
}

.trello{
    background-image: url(../img/trello.png);    
}

.tweet{
    background-image: url(../img/twitter.png);
}

.user360{
    background-image: url(../img/user360.png);
}

.portafolio{
    background-image: url(../img/portaTra.png);
}

/*habilidades xs*/

.circulo{
    width: 50%;
}

.mater{
    width: 67%;
}

.js{
    width: 51%;
}

.habMg{
    margin-bottom: 15px;
}

.habilidades{
    font-size: 2.5em;
    color:#cc0000;
}

.contactoXs{
    padding: 80px 10px 80px 10px;
}

.language{
    position: absolute;
    top: 0;
    right:10px;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}

.language:hover{
    text-decoration: none;
    color: #000;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .hola{
        font-size: 2em; 
    }

    .nombre{
        font-size: 2em;
        color: #cc0000;
    }

    .soy{
        font-size: 1em;
    }

    .frase{
        font-size: 1em;
    }

    .menuIconSm {
        height: 41px;
        margin-right: 25px;
        display: block;
    }

    .primer{
        margin-left: 10px;
    }

    .miFoto {
        width: 84%;
        margin-bottom: 10px;
    }

    .blanco{
        padding: 25px;
    }

    .sobreMi{
        font-size: 1em;
        text-align: right;
    }

    .intro{
        padding-top: 91px;
    }

    .proPd{
        padding: 37px;
    }

    .sobreMiXs{
        padding: 10px;
    }

    .proyectosXs{
        padding: 5%;
    }

    .skXs{
        width: 19%;
    }


}

/*hover*/

.ih-item.square{
    height: 179px;
    width: 245px;
    margin-bottom: 10px;
}

.ih-item.square.effect4 .img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.square.effect4 .mask1,
.ih-item.square.effect4 .mask2 {
  position: absolute;
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  height: 361px;
  width: 361px;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.square.effect4 .mask1 {
  left: auto;
  right: 0;
  top: 0;
  -webkit-transform: rotate(56.5deg) translateX(-180px);
  -moz-transform: rotate(56.5deg) translateX(-180px);
  -ms-transform: rotate(56.5deg) translateX(-180px);
  -o-transform: rotate(56.5deg) translateX(-180px);
  transform: rotate(56.5deg) translateX(-180px);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}
.ih-item.square.effect4 .mask2 {
  top: auto;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(56.5deg) translateX(180px);
  -moz-transform: rotate(56.5deg) translateX(180px);
  -ms-transform: rotate(56.5deg) translateX(180px);
  -o-transform: rotate(56.5deg) translateX(180px);
  transform: rotate(56.5deg) translateX(180px);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
.ih-item.square.effect4 .info {
  background: #111111;
  height: 0;
  visibility: hidden;
  width: 361px;
  -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
  -moz-transform: rotate(-33.5deg) translate(-112px, 166px);
  -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
  -o-transform: rotate(-33.5deg) translate(-112px, 166px);
  transform: rotate(-33.5deg) translate(-112px, 166px);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: all 0.35s ease-in-out 0.35s;
  -moz-transition: all 0.35s ease-in-out 0.35s;
  transition: all 0.35s ease-in-out 0.35s;
}
.ih-item.square.effect4 .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: transparent;
  margin-top: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out 0.35s;
  -moz-transition: all 0.35s ease-in-out 0.35s;
  transition: all 0.35s ease-in-out 0.35s;
}
.ih-item.square.effect4 .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out 0.35s;
  -moz-transition: all 0.35s ease-in-out 0.35s;
  transition: all 0.35s ease-in-out 0.35s;
}
.ih-item.square.effect4 div:hover .mask1 {
  -webkit-transform: rotate(56.5deg) translateX(1px);
  -moz-transform: rotate(56.5deg) translateX(1px);
  -ms-transform: rotate(56.5deg) translateX(1px);
  -o-transform: rotate(56.5deg) translateX(1px);
  transform: rotate(56.5deg) translateX(1px);
}
.ih-item.square.effect4 div:hover .mask2 {
  -webkit-transform: rotate(56.5deg) translateX(-1px);
  -moz-transform: rotate(56.5deg) translateX(-1px);
  -ms-transform: rotate(56.5deg) translateX(-1px);
  -o-transform: rotate(56.5deg) translateX(-1px);
  transform: rotate(56.5deg) translateX(-1px);
}
.ih-item.square.effect4 div:hover .info {
  width: 100%;
  height: 60%;
  visibility: visible;
  top: 40px;
  -webkit-transform: rotate(0deg) translate(0, 0);
  -moz-transform: rotate(0deg) translate(0, 0);
  -ms-transform: rotate(0deg) translate(0, 0);
  -o-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
}
.ih-item.square.effect4 div:hover .info h3,
.ih-item.square.effect4 div:hover .info p {
  opacity: 1;
}.ih-item.square {
  position: relative;
  width: 316px;
  height: 216px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item div {
  color: #333;
}
.ih-item div:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
}
.ih-item.square {
  position: relative;
  width: 316px;
  height: 216px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


